<div class="card mb-4 shadow-sm">
  <div class="card-body">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-3 text-right">
        <label for="opcion">Elige opción de búsqueda:</label>
      </div>
      <div class="col-sm-2">
        <select name="opcion" [(ngModel)]="opcion" class="form-control" id="opcion">
          <option value="Nombre" selected>Nombre</option>
          <option value="Posición">Posición</option>
          <option value="Edad">Edad</option>
        </select>
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Buscar jugador" name="filterSearch" [(ngModel)]="filterSearch">
      </div>
    </div>
  </div>
</div>

<section class="container mt-4">
  <div class="row">
    <article *ngFor="let player of players | filterName:filterSearch:opcion" class="col-sm-6 col-md-4 mb-4">
      <div class="card player-item h-100 shadow-sm">
        <img class="card-img-top" [src]="player.img" alt="Imagen de {{player.nombre}}">
        <div class="card-body">
          <h3 class="card-title">{{player.nombre}}</h3>
          <p class="card-text" *ngIf="!!player.anillos">Anillos NBA: {{player.anillos}}</p>
          <p class="card-text" *ngIf="!player.anillos">Anillos NBA: Ninguno</p>
          <p class="card-text">Posición: {{player.posicion}}</p>
          <p class="card-text">Edad: {{player.edad}}</p>
          <a [routerLink]="['/player', player.id]" class="btn btn-primary btn-block mt-auto">Ver detalle</a>
        </div>
      </div>
    </article>
  </div>
</section>
